* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: salmon;
    font-family: 'Noto Sans Display', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-self: center;
    height: 100%;
    width: 100%;
    padding: 0;
}

header {
    box-shadow: 0 1px 3px 0 rgb(146, 140, 140);
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


header ul {
    list-style: none;
    width: inherit;
    display: inherit;
    justify-content: space-around;
}

header ul li {
    display: inline;
}

header ul li a {
    text-decoration: none;
    border-bottom: 2px solid salmon;
}

header ul li a:link {
    color:black;
}

header ul li a:visited {
    color: black;
}


.response {
    font-size: 4rem;
    width: 50%;
    text-align: center;
    margin: 0 25%;
}


footer {
    min-height: 50px;
    height: 100px;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(87, 128, 143);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}


.fa {
    color: salmon;
    background-color: rgb(87, 128, 143);
}

@media screen and (max-width: 800px) {
    .response {
        font-size: 3rem;
    }
}

@media screen and (max-width: 500px) {
    .response {
        font-size: 2rem;
    }
}